flask==2.3.2
sqlalchemy==2.0.21
flask-sqlalchemy==3.0.5
flask-wtf==1.1.1
wtforms==3.0.1
gunicorn==20.1.0
fastapi==0.115.12
uvicorn==0.34.0
starlette<0.47.0,>=0.40.0
pydantic<3.0.0,>=1.7.4
typing-extensions>=4.8.0
click>=7.0
h11>=0.8
annotated-types>=0.6.0
pydantic-core==2.33.1
typing-inspection>=0.4.0
anyio<5,>=3.6.2
idna>=2.8
sniffio>=1.1